<div class="d-flex justify-center pb-8 pt-8">
    <a href="/"><img src="images/logo (1).png" alt="Controle Financeiro" width="150" /></a>
</div>

<MudNavMenu Color="Color.Secondary"> 
    <MudNavLink Href="/">Inicio</MudNavLink>
    <MudNavLink Href="/transacoes/historico">Historico</MudNavLink>
    <MudNavLink Href="/categorias">Categorias</MudNavLink>
    <MudNavLink Href="/premium">Premium</MudNavLink>
    <MudNavLink Href="/sair">Sair</MudNavLink>
</MudNavMenu>

@code {

}
