<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">

            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <h1>Você nao deveria estar aqui</h1>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Vazio</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1>Erro 404 </h1>
                <p>Não tem nada aqui</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>